<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/dc33f17121.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="maindiv">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de mercado liebre">
            </div>
            <div class="form" action="#" method="GET">
                <select name="searchbox"  placeholder="Buscar productos, marcas y más">
                    <option value="Electro">Electro</option>
                    <option value="Moda">Moda</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Jugueteria">Jugueteria</option>
                    <option value="Vida Sana">Vida Sana</option>
                    <option value="Buscar productos, marcas y más" selected>Buscar productos, marcas y más</option>
                </select>
                <button><i class="fa fa-search"></i></button>
            </div>
            <div class="financia">
            <p><i class="fa-solid fa-hand-holding-dollar" id="financia"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>       
        <nav class="navegador">
            <div class="lista1">
                <ul type="none">
                    <li><a href="#" id="menu">Ofertas</a></li>
                    <li><a href="#" id="menu">Tiendas Oficiales</a></li>
                    <li><a href="#" id="menu">Vender</a></li>
                    <li><a href="#" id="menu">Ayuda</a></li>
                </ul>
            </div>

            <div class="lista2">
                <ul type="none">
                    <li><a href="/register" id="menu">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login" id="menu">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#" id="menu">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="formularioderegistro">
            <form class="registro" action="/registro" method="POST">
                <input type="text" name="usuario" placeholder="Nombre y Apellido" required>
                <span class="error-register">Ingresá datos válidos</span>
                <input type="text" name="usuario" placeholder="Nombre de usuario" required>
                <span class="error-register">Ingresá datos válidos</span>
                <input type="email" name="email" placeholder="Email" required>
                <span class="error-register">Ingresá datos válidos</span>
                <input type="date" name="fecha" required>
                <input type="text" name="usuario" placeholder="Domicilio" required>
                <span class="error-register">Ingresá datos válidos</span>
                <br>
                <br>
                <label for="tipodeusuario"><strong>Perfil del usuario</strong></label>
                <div class="tiposusuario">
                    <input type="radio" name="tipodeusuario" value="Comprador">Comprador
                    <input type="radio" name="tipodeusuario" value="Vendedor">Vendedor
                </div>
                <label for="intereses"><strong>Intereses</strong></label>
                    <div class="intereses">
                    <input class="electro" type="checkbox" name="intereses" value="Electro">Electro
                    <input type="checkbox" name="intereses" value="Moda">Moda
                    <input type="checkbox" name="intereses" value="Hogar">Hogar
                    <input type="checkbox" name="intereses" value="Juguetería">Juguetería
                    <input type="checkbox" name="intereses" value="Vida Sana">Vida Sana
                    </div>
                <label><strong>Seleccionar una imagen para el perfil:</strong></label>
                <input type="file" name="avatar" accept=".jpg" multiple>
                <input type="password" name="contraseña" placeholder="Contraseña" minlength="8" required>
                <span class="error-register">Ingresá datos válidos</span>
                <input type="password" name="contraseña" placeholder="Confirmar contraseña" minlength="8" required>
                <span class="error-register">Ingresá datos válidos</span>
                <br>
                <br>
                <div class="botones">
                    <button class="botonborrar" type="reset">Borrar datos</button>
                    <button class="botonenviar" type="submit">Enviar datos</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <section class="elfooter">
            <div class="seccionfooter">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="seccionfooter">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="seccionfooter">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <h3 class="copyright">Copyright 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>

</body>
</html>